body {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center; */
}

.content {
  text-align: center;
}

.container {
  background-color: #E5EBF1;
  border-radius: 4px;
  height: 426px;
  width: 420px;
  margin: auto;
  padding: 20px 30px;
}

.container .title {
  color: #6A717D;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.row.flex-center {
  align-items: center;
}

.row .block-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.row .block-container .block {
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  margin-bottom: 5px;
}

.row .block-container .block-text {
  color: #6A717D;
  font-size: 16px;
  text-align: center;
}

#timer { 
  font-weight: bold;
  font-size: 18px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.slider {
  display: flex;
  justify-content: flex-end;
}

.slider span {
  font-size: 16px;
  margin-right: 5px;
}

.slider span.red {
  color: #E02020;
}
.slider span.green {
  color: #2BB700;
}
.slider span.blue {
  color: #0091FF;
}

input[type=range] {
  width: 150px;
}

button {
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 13px;
  width: 130px;
  height: 38px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button:first-of-type {
  margin-bottom: 5px;
}

button.blue {
  background-color: #0091FF;
}

button.purple {
  background-color: #6236FF;
}

button.green {
  background-color: #2BB700;
  margin-top: 20px;
}

button.green:disabled {
  filter: brightness(50%);
}

button.purple:disabled {
  filter: brightness(50%);
}

#score {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  text-transform: uppercase;
}

.hints {
  margin-top: 20px;
  padding: 0 30px;
  text-align: left;
}

.hints .red {
  color: #E02020;
}

.hints .green {
  color: #2BB700;
}

.hints .blue {
  color: #0091FF;
}

.hidden {
  display: none;
}